:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;   /* não ficar repetindo a imagem de background */
    background-size: contain;       /* pega todo o conteiner e preenche ele */
    align-items: center;            /* como estamos usando display grid no .container, ele utiliza o valor de align items na vertical */ /* ele centraliza toda a div */
    text-align: center;             /* alinha ao centro tudo que está dentro de um elemento de bloco, no caso a section é display block, então alinha tudo ao centro */
}

.container {
    height: 100vh;
    display: grid;                  /* ele separa cada elemento, mas quando nós criamos uma div, ele vai separar a div dos proximos elementos, levando em consideração a div toda */
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;          /* em = tamanho da fonte, de padrão é 16px */
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);    
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;               /* vai ocupar 80% da coluna sem contar o espaçõ da margin */
}

.secundario {
    align-items: center;      /* alinhar os item ao centro verticalmente, pois estamos usando grid columns */
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;    /* itens da lista centralizados */
    list-style-type: none;      /* tirar o pontos de lista */
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape__lista {
    display: flex;
    justify-content: center;    /* justify content no flex é horizontal, align items é vertical */
    list-style-type: none;        
}   

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 2em;
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em 0;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.lista__link a:hover {
    color: var(--botao-azul);    
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}